asn1crypto
certifi
chardet
configshell-fb
cryptography
defer
distro-info
httplib2
jsonschema
keyring
keyrings.alt
launchpadlib
lazr.restfulclient
lazr.uri
louis
Mako
MarkupSafe
oauth
olefile
pbr
pexpect
Pillow
protobuf
pycrypto
pygobject
pymacaroons
PyNaCl
pyparsing
pyRFC3339
python-debian
pytz
pyxdg
PyYAML
reportlab
requests
requests-unixsocket
rtslib-fb
SecretStorage
simplejson
six
testresources
urllib3
urwid
wadllib
zope.interface
